<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.50.2" targetFramework="net40" />
  <package id="FluentAssertions" version="4.19.2" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="1.4.0" targetFramework="net472" />
</packages>